@inherits LayoutComponentBase

<PageTitle>Nebula for Lyra Pay</PageTitle>

<div class="page">

    <div class="@sidebar">
        <NavMenu />
    </div>

    <main>
        <UserLibrary.Components.TopBar OnToggle="@TB" />

        <article class="@artcss">
            <ErrorBoundary @ref="errorBoundary">
                @Body
            </ErrorBoundary>            
        </article>
    </main>
</div>


@code {
    private ErrorBoundary errorBoundary;
    bool menuVisible = false;
    string sidebar;
    string artcss;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    protected override void OnInitialized()
    {
        TB();
        base.OnInitialized();        
    }

    void TB()
    {
        menuVisible = !menuVisible; 
        sidebar = menuVisible ? "sidebar" : "sidebarhide";
        artcss = menuVisible ? "content px-4 fw" : "content px-4 fww";
    }
}