@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="top-row ps-3 navbar navbar-dark" style="padding-top:initial;">
    <div style="width: 100%; display: flex; justify-content: space-between">
            <a class="navbar-brand" href=""><img style="align-content:center; vertical-align: middle;" src="/images/nebula-logo.png" title="@Configuration["network"]" /></a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<!-- https://iconify.design/icon-sets/oi/ -->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(Configuration["network"] == "testnet" ? "https://apptestnet.lyra.live" : "https://app.lyra.live")">
                <span class="oi oi-dollar" aria-hidden="true"></span> Lyra App &nbsp; <span class="oi oi-share-boxed" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="asserts">
                <span class="oi oi-layers" aria-hidden="true"></span> Assert Explorer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showblock">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Block Explorer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showbb">
                <span class="oi oi-fork" aria-hidden="true"></span> Node Explorer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="safu">
                <span class="oi oi-shield" aria-hidden="true"></span> SAFU
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="fees">
                <span class="oi oi-dollar" aria-hidden="true"></span> Nodes Fees
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stats">
                <span class="oi oi-timer" aria-hidden="true"></span> Statistics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/apps">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Download
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

