@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/asserts"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject LyraRestClient Client

<h1>Block Explorer for LYRA Block Lattice </h1>