<div>
    <div style="align-content: center">
@*    <p>Total Value Locked</p>
<h3>$10,000</h3>*@
<h1>Lyra Swap</h1>
</div>

<Tabs>
	<TabPane Tab="Swap" Key="1">
		<Swap />
	</TabPane>
	<TabPane Tab="Pool" Key="2">
		<Pool />
	</TabPane>
	<TabPane Tab="DEX" Key="3">
		<DexWallets />
	</TabPane>
</Tabs>
</div>


@code {

}
