@namespace UserLibrary.Components
@using DexServer.Ext
@using System.ComponentModel
@using Fluxor
@using Lyra.Core.API
@using Lyra.Core.Accounts
@using Lyra.Core.Blocks
@using Lyra.Data.API
@using Lyra.Shared
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Configuration
@using Nebula.Data
@using Nebula.Store.WebWalletUseCase
@using UserLibrary.Data
@inject IConfiguration Configuration

@if (busy)
{
    <div style="z-index: 5;" class="spinner"></div>
}

<div class="flex-container">
    @if (ui == UI.entry)
    {
        <div class="mid">
            <MudTextField InputType="InputType.Password" Label="Password" Size="Size.Large" @bind-Value="@txtValue1" />
        </div>
        <div class="mid">
            <MudTextField InputType="InputType.Password" Label="Confirm Password" Size="Size.Large" @bind-Value="@txtValue2" />
        </div>
        <div class="mid">
            <MudButton Color="Color.Primary" OnClick="@CreateWallet">
                @if (busy)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Create Wallet</MudText>
                }
            </MudButton>
        </div>
        <div class="mid">
            <MudDivider Style="width: 0px; height: 0px" />
        </div>
        <div class="mid">
            <a href="/login/key"><MudButton>Open with Private Key</MudButton></a>
        </div>
    }

    @if(ui == UI.success)
    {
        <div class="mid">
            Your wallet has been created.
        </div>
    }


    </div>


@code {
    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    [Parameter] 
    public EventCallback OnFinished { get; set; }

    [Inject] ISnackbar Snackbar { get; set; }

    bool busy;

    enum UI {entry, success, failed}
    UI ui = UI.entry;

    RenderFragment extraok =
        @<a href="login"><MudButton Color="Color.Primary">Login</MudButton></a>;

        RenderFragment extrafail =
    @<MudButton Color="Color.Primary">Retry</MudButton>
    ;

    private string txtValue1 { get; set; }
    private string txtValue2 { get; set; }
    private bool visible = false;

    private void CreateWallet()
    {
        busy = true;
        var storeName = NebulaConsts.NebulaStorName;
        if(txtValue1 == txtValue2)
        {
            Dispatcher.Dispatch(new WebWalletCreateAction{
                store = storeName,
                name = "default", password = txtValue1});
            OnFinished.InvokeAsync();
        }
        else
        {
            Snackbar.Add("Passwords not match.", Severity.Warning);
        }
    }
}
