@namespace UserLibrary.Components

@inject NavigationManager Navi

<div style="padding: 14px">
        <MudButton OnClick="BackEntry" />
        &nbsp;@Text
    </div>

@code {
    [Parameter]
    public string Src { get; set; }

    [Parameter]
    public string Text { get; set; }

    private void BackEntry()
    {
        Navi.NavigateTo(Src);
    }
}