@namespace UserLibrary.Components
@using DexServer.Ext
@using System.ComponentModel
@using Fluxor
@using Lyra.Core.API
@using Lyra.Core.Accounts
@using Lyra.Core.Blocks
@using Lyra.Data.API
@using Lyra.Shared
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Configuration
@using Nebula.Data
@using Nebula.Store.WebWalletUseCase
@using UserLibrary.Data
@inject IConfiguration Configuration
@inject NavigationManager UriHelper

@if (busy)
{
    <div style="z-index: 5;" class="spinner"></div>
}

    <div class="flex-container">
        <div class="mid">
            <MudTextField InputType="InputType.Password" Label="Password" Size="Size.Large" @bind-Value="@txtValue1" />
        </div>
        <div class="mid">
            <MudButton Color="Color.Primary" OnClick="@OpenWallet">
                @if (busy)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Open Wallet</MudText>
                }
            </MudButton>
        </div>
        <div class="mid">
            <MudDivider Style="width: 0px; height: 0px" />
        </div>
        <div class="mid">
        <a href="/login/key"><MudButton>Open with Private Key</MudButton></a>
        </div>
    </div>



@code {
    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    [Inject] ISnackbar Snackbar { get; set; }

    private string txtValue1 { get; set; }
    private string txtValue2 { get; set; }
    private bool visible = false;

    bool busy;

    private void OpenWallet()
    {
        busy = true;
        var storeName = NebulaConsts.NebulaStorName;

        Dispatcher.Dispatch(new WebWalletOpenAction
            {
                store = storeName,
                name = "default",
                password = txtValue1
            });
    }

    protected override void OnInitialized()
    {
        walletState.StateChanged += this.WalletChanged;

        base.OnInitialized();
    }

    private void WalletChanged(object sender, WebWalletState wallet)
    {
        busy = false;
        if(wallet.wallet != null)
        {
            UriHelper.NavigateTo("wallet");
        }
        else
        {
            InvokeAsync(() =>
            {
                Snackbar.Add(wallet.error, Severity.Error);
                StateHasChanged();
            }
            );
        }        
    }

        public void Dispose()
    {
        walletState.StateChanged -= this.WalletChanged;
    }
}
