@namespace UserLibrary.Components

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" 
    Mode="TabsMode.LazyLoad" Class="cet"
    Justified="true">
    <Items>
        <Tab Name="home">Swap</Tab>
        <Tab Name="profile">Pool</Tab>
    </Items>
    <Content>
        <TabPanel Name="home">
            <div class="pad"><Swap /></div>
            
        </TabPanel>
        <TabPanel Name="profile">
            <div class="pad"><Pool /></div>
            
        </TabPanel>
    </Content>
</Tabs>

<Styled>
    .cet {
        display: inline-flex;
        content-justify: center;
    }
    .pad {
        display: flex;
        padding-top: 35px;
        align-content: center;
        justify-content: center;
    }

</Styled>


@code
{
	[CascadingParameter]
	public Error Error { get; set; }

        string selectedTab = "profile";

    private Task OnSelectedTabChanged( string name )
    {
        selectedTab = name;

        return Task.CompletedTask;
    }
}
