@namespace UserLibrary.Components

<MudTabs Elevation="2" Rounded="true" Centered="true" Class="my-6" Color="Color.Dark">
    <MudTabPanel Text="Swap">
        <div class="pad"><Swap /></div>
    </MudTabPanel>
    <MudTabPanel Test="Pool">
        <div class="pad"><Pool /></div>
    </MudTabPanel>
</MudTabs>

@code
{
    string selectedTab = "home";

    private Task OnSelectedTabChanged( string name )
    {
        selectedTab = name;

        return Task.CompletedTask;
    }
}
