@namespace UserLibrary.Components

<div>
    <div style="align-content: center">
@*    <p>Total Value Locked</p>
<h3>$10,000</h3>*@
<h1>Swap</h1>
</div>

<AntDesign.Tabs>
	<AntDesign.TabPane Tab="Swap" Key="1">
		<Swap />
	</AntDesign.TabPane>
	<AntDesign.TabPane Tab="Pool" Key="2">
		<Pool />
	</AntDesign.TabPane>
	<AntDesign.TabPane Tab="DEX" Key="3">
		<DexWallets />
	</AntDesign.TabPane>
</AntDesign.Tabs>
</div>


@code
{
	[CascadingParameter]
	public Error Error { get; set; }
}
